<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <!--<link rel="stylesheet" href="styles.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
</head>

<body>
  <div class="page-header text-center">
    <h1>MGCR-331: Information Systems<br><small>Michael Havas</small></h1>
  </div>
  <div class="jumbotron text-center">
    <h1>This Course is EASY!</h1>
    <p>...</p>
    <p>by Laurent Ollivier and Longfeng Lian</p>
    <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
  </div>

</body>

</html>